* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #bd9f3d, #a76467);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 500;
}

form input, form button {
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #a76467;
    background: white;
    cursor: pointer;
    transition: all .3s ease;
}

form button:hover {
    background: #a76467;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 40%;
    list-style: none;
}

.todo {
    margin: .5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
}

.todo li {
    flex: 1;
}

.trash-button, 
.complete-button {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-button {
    background: rgb(73, 204, 73);
}

.todo-item {
    padding: 0rem 1rem;
}

/* removing click from icon */
.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/* Clearing built in styles */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

/* styling dropdown */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #a76467;
    font-weight: bolder;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #a76467;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all .3s ease;
}

.select:hover::after {
    background: white;
    color: #a76467;

}